*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
memeolist/.idea
.idea
memeolist/local.properties
memeolist/.settings/
.settings
